<pre style="font-size:14px; line-height:14px; font-family:Courier New,Courier,monospace;">
&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;_
|&nbsp;|&nbsp;___&nbsp;__&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;_&nbsp;__&nbsp;|&nbsp;|_&nbsp;_____&nbsp;&nbsp;_(&nbsp;_&nbsp;)/&nbsp;|
|&nbsp;|/&nbsp;/&nbsp;'__|&nbsp;|&nbsp;|&nbsp;|&nbsp;'_&nbsp;\|&nbsp;__/&nbsp;_&nbsp;\&nbsp;\/&nbsp;/&nbsp;_&nbsp;\|&nbsp;|
|&nbsp;&nbsp;&nbsp;&lt;|&nbsp;|&nbsp;&nbsp;|&nbsp;|_|&nbsp;|&nbsp;|_)&nbsp;|&nbsp;||&nbsp;&nbsp;__/&gt;&nbsp;&nbsp;&lt;&nbsp;(_)&nbsp;|&nbsp;|
|_|\_\_|&nbsp;&nbsp;&nbsp;\__,&nbsp;|&nbsp;.__/&nbsp;\__\___/_/\_\___/|_|
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|___/|_|
</pre>

<br><br><br><br><br>
<table bgcolor="#e0e0e0" cellpadding=4px style="width:100%; border:0px;"><tr><td align="right">
<span style="font-size:10px; line-height:10px; font-family:Courier New,Courier,monospace;">This email was sent to ${user.email} because you applied to Extrasolar. <a href="${user.url_unsubscribe()}" style="text-decoration:underline; color:#a0a0a0">Unsubscribe</a></span>
</td></tr></table>
