
</div></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td align="center" valign="top" style="border-collapse:collapse"><table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#ffffff;border-top:0">
                  <tbody>
                    <tr>
                      <td valign="top" style="border-collapse:collapse"><table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tbody>
                            <tr>
                              <td valign="middle" style="border-collapse:collapse;background-color:#e6e6e6;border:0">
                                <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center"> &nbsp; <a style="color:#336699;font-weight:normal;text-decoration:underline" href="${urls.ops_copyright()}">&copy; Copyright 2014.  All rights reserved.</a><br>
                              % if user is not UNDEFINED:
                              <a style="color:#336699;font-weight:normal;text-decoration:underline" href="${user.url_unsubscribe()}">unsubscribe from these notifications</a> 
                                &nbsp;
                              % endif
                                 </div>
                              </td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table>
        </td>
    </tr>
  </tbody>
</table>