<%inherit file="base.html"/>
<%def name="title()">
    XRI: Account Authenticated.
</%def>

<table border="0" cellspacing="0" cellpadding="0" align="center" width="700">
    <tr><td>
        <h2 align="center">Account Authenticated</h2>

        <p>Welcome to <i>Extrasolar</i>, the rover driver pilot program hosted by the eXoplanetary Research Institute (XRI).  Your account has now been authenticated.  As you may know, the number of applicants to this program far exceeded the number of available spaces.  Please understand that it is a great privilege to be able to participate and we expect the highest level of professionalism on this unprecedented scientific expedition.</p>

        <p>Please continue to the <a href="/ops/">operations page</a>.</p>
    </td></tr>
</table>

