<%inherit file="base.html"/>
<%def name="title()">
    Welcome to Extrasolar!
</%def>

<%def name="head()">
</%def>

<table border="0" cellspacing="0" cellpadding="0" align="center" width="700">
  <tr>
    <td>
      <div style="text-align:center">
        <iframe width="514" height="320" src="https://www.youtube.com/embed/lBxIQyvLiq8?rel=0&iv_load_policy=3&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <p>
        The  <a href="http://www.exoresearch.com">eXoplanetary Research Institute (XRI)</a> is crowdsourcing exploration of the planet Epsilon Prime using the power of the Internet. Sign up now to help unlock the secrets of this alien world, one photo at a time. If you would prefer to use your email address, visit our <a href="/">main login page</a>.

        <div style="align:center">
          <%include file="facebook_login_snippet.html"/>
        </div>
      </p>
    </td>
  </tr>
</table>
