<%inherit file="base.html"/>
<%def name="title()">
    Password Reset
</%def>

<table border="0" cellspacing="0" cellpadding="0" align="center" width="700">
  <tr>
    <td>
      <div id="error_login" class="form-error" align="center"> 
        % if error is not UNDEFINED:
        ${error}
        % endif 
      </div>

      % if user is not UNDEFINED:
      <table border="0" cellspacing="0" cellpadding="0" align="center" width="90%">
        <tr>
          <td width="49%" valign="top">
            <h3 align="center">Change Password for ${user.first_name} ${user.last_name} (${user.email})</h3>
            <center>
            <form id="form_password_reset" action="${request_url.path_qs}" method="POST">
              <table border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td><label for="new_password">New password</label></td>
                  <td><input name="new_password" type="password" id="new_password"/></td>
                </tr>
                <tr>
                  <td colspan="2" align="center"><input type="submit" class="gradient-button gradient-button-store" value="Change Password" /></td>
                </tr>
              </table>
            </form>
            </center>
          </td>
        </tr>
      </table>
      % endif

      % if password_was_changed is not UNDEFINED:
      <div align="center"> 
        Your password has been changed. <a href="${urls.ops()}">Continue to Rover Operations</a>.
      </div>
      % endif
    </td>
  </tr>
</table>

<div class="patch-logo">
  <!-- <img src="http://www.extrasolar.com/images/mission-patch.png" alt="mission-patch" class="patch">-->
  <!-- <img src="/img/XRI_logo_300x300.png" alt="" class="xri-logo"> -->
</div><!-- / -->
