<h4>Information we collect</h4>
<p>We collect information to provide better services to all of our users.  We collect information in two ways:</p>
<ul>
  <li><strong>Information you give us</strong>. For example, in order to play the Game, you must sign up for an account. When you do, we'll ask for personal information, like your name and email address. If you want to take full advantage of the features offered by the Game, we might also ask you to include your address or credit card information required to upgrade your account.</li>
  <li><strong>Information we get from your use of our services</strong>. We may collect information about how you use the Game, like when you visit websites that are part of the Game and how you interact with the content. This information includes:
    <ul>
    <li><strong>Device information</strong>: We may collect hardware-specific information such at the type of device you use to access the Game.</li>
    <li><strong>Log information</strong>: When you access the Game, we may automatically collect and store certain information in server logs, including your Internet protocol (IP) address, cookies that may uniquely identify your browser, or device event information such as crashes, system activity, hardware settings, browser type, browser language, the date and time of your request and referral URL.</li>
    <li><strong>Cookies and anonymous identifiers</strong>: We use various technologies to collect and store information when you visit the Game, and this may include sending one or more cookies or anonymous identifiers to your browser.</li>
    </ul>
  </li>
</ul>

<h4>How we use information we collect</h4>
<p>We use the information we collect from the Game to maintain, protect and improve it, to develop new services, and to protect the Game and our users.</p>

<p>When you create an account in the Game, we automatically generate a public profile that can be viewed by others.  We may display the name you provide in your public profile.</p>

<p>When you contact Lazy 8 Studios, we may keep a record of your communication to help solve any issues you might be facing. We may use your email address to inform you about our the Game, such as letting you know about improvements or expanded content.</p>

<p>We use information collected from cookies and other technologies to improve your user experience and the overall quality of the Game.</p> 

<p>Lazy 8 Studios may have servers located in many countries around the world. We may process your personal information on a server located outside the country where you live.</p>

<p>Some users may set their browser to block cookies, including cookies associated with the Game.  However, it's important to remember that the Game will not function properly if your cookies are disabled.</p>

<h4>Information you share</h4>
<p>Some information, such as your first name and last initial, will be made available to be others through your public profile.  Because this information is shared publicly, it may be indexable by search engines.</p>

<h4>Accessing and updating your personal information</h4>
<p>Where we can provide information access and correction, we will do so for free, except where it would require a disproportionate effort. We aim to maintain our services in a manner that protects information from accidental or malicious destruction. Because of this, after you delete information from our services, we may not immediately delete residual copies from our active servers and may not remove information from our backup systems.</p>

<h4>Information we share</h4>
<p>We do not share personal information with companies, organizations and individuals outside of Lazy 8 Studios unless one of the following circumstances apply:</p>
<ul>
  <li><strong>With your consent</strong>: We will share personal information with companies, organizations or individuals outside of Lazy 8 Studios when we have your consent to do so.</li>
  <li><strong>For external processing</strong>: We provide personal information to our affiliates or other trusted businesses or persons to process it for us, based on our instructions and in compliance with this privacy policy and any other appropriate confidentiality and security measures.</li>
  <li><strong>For legal reasons</strong>: We will share personal information with companies, organizations or individuals outside of Lazy 8 Studios if we have a good-faith belief that access, use, preservation or disclosure of the information is reasonably necessary to:
    <ul>
    <li>meet any applicable law, regulation, legal process or enforceable governmental request.</li>
    <li>enforce applicable Terms of Service, including investigation of potential violations.</li>
    <li>detect, prevent, or otherwise address fraud, security or technical issues.</li>
    <li>protect against harm to the rights, property or safety of Lazy 8 Studios, our users or the public as required or permitted by law.</li>
    </ul>
  </li>
</ul>

<p>We may share aggregated, non-personally identifiable information publicly and with our partners -- like publishers, advertisers or connected sites. For example, we may share information publicly to show trends about the general use of the Game.</p>

<p>If Lazy 8 Studios is involved in a merger, acquisition or asset sale, we will continue to ensure the confidentiality of any personal information.</p>

<h4>Information security</h4>
<p>We work hard to protect users of the Game from unauthorized access to or unauthorized alteration, disclosure or destruction of information we hold. In particular:</p>
<ul>
  <li>We may encrypt access to the Game using SSL.</li>
  <li>We restrict access to personal information to Lazy 8 Studios employees, contractors and agents.</li>
</ul>
