<%inherit file="base.html"/>
<%def name="title()">
    Request Password Reset
</%def>

<table border="0" cellspacing="0" cellpadding="0" align="center" width="700">
  <tr>
    <td>
      <div id="error_login" class="form-error" align="center"> 
        % if error is not UNDEFINED:
        ${error}
        % endif 
      </div>

      % if request_was_sent is not UNDEFINED:
      <div align="center"> 
        Email sent.  Please check your inbox for a message with the subject line "Extrasolar Password Reset."  Follow the instructions there to create a new password.
      </div>
      % else:
      <table border="0" cellspacing="0" cellpadding="0" align="center" width="90%">
        <tr>
          <td width="49%" valign="top">

            <h3 align="center">To reset your password, please enter the email address for your account.</h3>

            <center>
            <form id="form_request_password_reset" action="${request_url.path_qs}" method="POST">
              <table border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td><label for="email">email address</label></td>
                  <td><input name="email" type="text" id="email"/></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td><input type="submit" class="gradient-button gradient-button-store" value="Send Reset Email" /></td>
                </tr>
              </table>
            </form>
            </center>
          </td>
        </tr>
      </table>
      % endif
    </td>
  </tr>
</table>

<div class="patch-logo">
  <!-- <img src="http://www.extrasolar.com/images/mission-patch.png" alt="mission-patch" class="patch">-->
  <!-- <img src="/img/new/XRI_logo_300x300.png" alt="" class="xri-logo"> -->
</div><!-- / -->
