<h2>Extrasolar&reg; Terms of Service</h2>
<p>Last modified: September 13, 2013</p>

<h3>Welcome to Extrasolar!</h3>
<p><em>Extrasolar is a game</em>.  While Extrasolar ("the Game") and the characters and situations that you encounter within Extrasolar may at times feel very real, they are in fact part of a fictional story.  Extrasolar is created and maintained by Lazy 8 Studios&trade; in San Francisco, California, United States.</p>

<p>By participating in the Game, you are agreeing to these terms. Please read them carefully.</p>

<h3>Playing the Game</h3>
<p>You must be at least 13 years of age to play the Game.</p>

<p>Don't misuse the Game. For example, don't interfere with the Game or try to access it using a method other than the interface that we provide. You may use the Game only as permitted by law, including applicable export and re-export control laws and regulations. We reserve the right to suspend or stop providing access to the Game at any time, even if you have a paid account.</p>

<p>Participating in the Game does not give you ownership of any intellectual property rights in the content you access through the Game. You may not use content from the Game unless you are sharing such content via the provided mechanisms. These terms do not grant you the right to use any branding or logos used in the Game. Don't remove, obscure, or alter any legal notices displayed in or along with the Game.</p>

<p>In connection with your use of the Game, we may send you service announcements, administrative messages, and other information. You may opt out of some of those communications.</p>

<h3>Your Account</h3>
<p>You will need to create an account in order to use some of the features of the Game.  If you learn of any unauthorized use of your password or account, please change your password immediately by visiting the login page and using the password reset link.</p>

<h3>Privacy and Copyright Protection</h3>

<%include file="privacy_policy_snippet.html"/>

<h3>Our Warranties and Disclaimers</h3>
<p>We provide the Game using a commercially reasonable level of skill and care and we hope that you will enjoy playing. But there are certain things that we don't promise about the Game.</p>

<p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS, NEITHER LAZY 8 STUDIOS NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE GAME. FOR EXAMPLE, WE DON'T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE GAME OR ITS RELIABILITY OR AVAILABILITY.</p>

<p>WE PROVIDE THE GAME "AS IS".  SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>
Liability for our Services
WHEN PERMITTED BY LAW, LAZY 8 STUDIOS AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>

<p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF LAZY 8 STUDIOS, AND ITS SUPPLIERS AND DISTRIBUTORS, FOR ANY CLAIM UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES, IS LIMITED TO THE AMOUNT YOU PAID US TO USE THE GAME.</p>

<p>IN ALL CASES, LAZY 8 STUDIOS, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>

<h3>About these Terms</h3>
<p>We may modify these terms or any additional terms that apply to the Game to, for example, reflect changes to the law or changes to the Game. You should look at the terms regularly. We'll post notice of modifications to these terms on this page.  If you do not agree to the modified terms for the Game, you should discontinue your use.</p>

<p>These terms control the relationship between Lazy 8 Studios and you. They do not create any third party beneficiary rights.</p>

<p>If you do not comply with these terms, and we don't take action right away, this doesn't mean that we are giving up any rights that we may have (such as taking action in the future).</p>

<p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>

<p>The laws of California, U.S.A., excluding California's conflict of laws rules, will apply to any disputes arising out of or relating to these terms or use of the Game. All claims arising out of or relating to these terms or the Game will be litigated exclusively in the federal or state courts of San Francisco County, California, USA, and you and Lazy 8 Studios consent to personal jurisdiction in those courts.</p>

<p>For information about how to contact Lazy 8 Studios, please visit our contact page at www.lazy8studios.com/contact.</p>
